.card300{
    display: flex;
   justify-content: center;
   justify-items: center;
    .title{
    font-size: 25px;
    background-color: rgb(21, 194, 188);
    color: #fffefe;
    border: #fffefe 1px solid;
    height: 50px;
    }
    .description{
        color: #000;
    font-size: 15px;
    background-color: rgb(239, 232, 232);
    height: 50px;

    }
    .rate{
        background-color: rgb(21, 155, 216);
        font-size: 40px;
        color: #fffefe;
        height: 70px;
    }
    .descriptionheader{
        background-color: rgb(205, 206, 206);
        color: #000;
        height: 60px;
    }
    }
